@tailwind base;
@tailwind components;
@tailwind utilities;

.inter-font {
  font-family: "Inter", sans-serif;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}